body {
  background-image: url("./image/moutain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
form {
  margin: 50px 100px;
  border: 2px solid rgb(249, 246, 252);
  padding: 30px;
  width: 300px;
  background-color: rgb(51, 57, 61);
  border-radius: 5%;
}
label {
  color: white;
  width: 100vw;
}
#lbl-mbm {
  color: white;
}
.lbl-email {
  color: white;
}
/* label {
  color: blue;
} */
label .lbl-email {
}
/* css specifility calculator */
textarea {
  /* margin: 20px 2px 10px 20px; */
  padding-top: 30px;
  /* padding-left: 20px; */
  /* height: calc(100px - 50px - 2px - 2px); */
  width: 100%;
}
input {
  width: 100%;
}
